:root.theme-light {
    /* --- Цветовая палитра --- */
    --color-bg: #ffffff;
    --color-header: #FFFFD4;
    --color-bg-surface: #5a5a5a;
    --color-canvas: #f8f8d8;
    --color-text-header: #ffa322;
    --color-text-header-hover: #ffffff;
    --border-color-header: #cecece;
    --color-text-main: #191919;
    --color-add-button: #191919;
    --color-add-text: #f5f5f7;
    --border-color: #333333;
    --border-color-hover: #ffffff;
    --dark-line-color: rgb(255, 255, 255);
    --min-dark-line-color: rgb(193, 193, 193);
    --extra-min-line-color: rgb(96, 96, 96);
}

@media (prefers-color-scheme: light) {
    :root {
        --color-bg: #ffffff;
        --color-header: #ffffff;
        --color-bg-surface: #5a5a5a;
        --color-canvas: #F5F2EB;
        --color-text-header: #cecece;
        --color-text-header-hover: #ffffff;
        --border-color-header: #cecece;
        --color-text-main: #191919;
        --color-add-button: #f5f5f7;
        --color-add-text: #191919;
        --border-color: #333333;
        --border-color-hover: #ffffff;
        --dark-line-color: rgb(255, 255, 255);
        --min-dark-line-color: rgb(193, 193, 193);
        --extra-min-line-color: rgb(96, 96, 96);
    }
}
}