.menu-button {
    grid-column: 3;
    justify-self: end;
    align-self: center;
    background-color: transparent;
    color: var(--color-text-main);
    width: 30px;
    border: none;
    margin: 0 10px;
}

.button {}

.modal-dialog {
    justify-self: end;
    width: 200px;
    height: 400px;
    background-color: var(--color-header);
    color: var(--color-text-header);
    border: 1px solid #848383;
}

.modal-dialog__content {}

.menu-content {}

.menu-title {
   
}

.theme-switch {
  
}

.theme-switch__track {}

.theme-switch__thumb {}

.icon {}

.icon-sun {}

.icon-moon {}

.modal-dialog__close-button {
  
        background-color: transparent;
        border: none;
        color: var(--color-text-main);
        align-items: start;
        justify-content: end;
}

.button {}

.button__text {}