body {
    background-color: var(--color-bg);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* 2. Шапка (Frame 1 — верхняя серая плашка) */
.app-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    max-width: 1300px;
    width: 100%;
    /* Ограничение по ширине макета */
    background-color: var(--color-header);
    /* Светло-серый цвет */
    padding: 24px 0;
    text-align: center;
    border-bottom: 1px solid var(--border-color);
}

.logo-link {
    grid-column: 2;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    text-decoration: none;
}

.logo-text {
    display: inline-block;
    font-family: 'Bitcount Single', sans-serif;
    font-size: 32px;
    color: #ffffff;
    letter-spacing: 1px;
}

.logo-text::first-letter {
    font-family: 'Bitcount Grid Double', sans-serif;
    font-size: 40px;
}
/*! сделаем радио кнопки */
.header__theme-menu {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: center;
}

.header__theme-menu-button {
    font-family: 'Bitcount Single', sans-serif;
    padding: 5px 16px;
    background-color: var(--color-header);
    border: 1px solid var(--border-color-header);
    color: var(--color-text-header);
}

.header__theme-menu-button:hover {
    border: 1px solid var(--border-color-hover);
    color: var(--color-text-header-hover);
}

.header__theme-menu-button:active {
    border: 1px solid var(--border-color-hover);
    color: var(--color-text-header-hover);
}

/* 3. Основной контейнер (Розовая подложка) */
.app-container {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: 2fr min-content;
    padding: 20px 0;
    gap: 20px;
}

/* Центрирование рабочей зоны во второй колонке */
.workspace-row {
    grid-column: 2 / 3;
}

.canvas {
    width: 100%;
    min-width: 800px;
    height: auto;
}

/* Стили для того, чтобы холст и зона загрузки вели себя корректно внутри сетки */
.canvas-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    min-height: 500px;
    display: flex;
    background-color: var(--color-canvas);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.sidebar {
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(4, min-content);
    grid-template-rows: min-content;
    background-color: var(--color-sidebar);
    padding: 5px;
}
.sidebar__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: contents;
    /* Чтобы li не влияли на грид-раскладку */
}

.sidebar__item {
    display: contents;
}

.sidebar__button {
    width: 45px;
    height: 45px;
    background-color: aqua;
}
/* Левая серая панель */
.sidebar--left {
    width: 200px;
    grid-column: 1;
    grid-row: 1/2;
}

/* Текст по центру рабочей зоны */
.upload-zone {
    color: #555;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 40%;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.upload-zone--hidden {
    display: none;
}

/* Правая серая панель */
.sidebar--right {
    width: 200px;
    grid-column: 3;
    grid-row: 1/2;
}

/* Нижняя длинная серая панель фильтров */
.filters-panel {
    /* Растягивает панель фильтров от 1-й до 4-й вертикальной грид-линии (на все 3 колонки) */
    grid-column: 1 / -1;
    height: 100px;
    background-color: var(--color-filters-panel);
}

/* 4. Подвал (ниже розового контейнера на белом фоне) */
.footer {
    max-width: 1300px;
    width: 100%;
    background-color: #ffffff;
    /* Белый фон в самом низу */
    padding: 40px 20px;
    text-align: center;
    color: #666;
    font-size: 14px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    body {}

    .canvas {
        width: 100%;
        min-width: 600px;
        height: auto;
    }
}

@media (max-width: 767px) {
    body {}
}