.toolbar {
    display: flex;
    justify-content: center;
    /* Центрируем кнопки в тулбаре */
    align-items: flex-start;
    /* Выравниваем кнопки по верхней линии */
    flex-wrap: wrap;
    gap: 16px;
    /* Расстояние между кнопками */
    width: 100%;
    max-width: 600px;
    padding: 8px 12px;
    box-sizing: border-box;
}

.toolbar--icons {
    grid-row: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tool-btn {
    font-family: 'Noto Serif', sans-serif;
    background-color: transparent;
    border: none;
    color: var(--color-text-main);
    cursor: pointer;

    /* Главная магия здесь */
    display: flex;
    flex-direction: column;
    /* Ставит текст под иконку */
    align-items: center;
    /* Центрирует текст относительно иконки */
    gap: 6px;
    /* Отступ между иконкой и текстом */
}

.toolbar--text {
    grid-row: 3;
    display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
}


.text-btn {
    font-family: 'Noto Serif', sans-serif;
    background-color: transparent;
    border: none;
    color: var(--color-text-main)
}